@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Poppins);


body {
    background-color:rgb(134, 130, 130);
    
}    
/* Dükkan fotoğrafı ayarı */
.img-fon {
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

/* navbar renk ayarı */
.navbar {
    background-color: rgb(0, 0, 0) !important;
       
}

/* Navbardaki yazının renk ve konum ayarı*/
.navbar-brand {
    margin-left: 1.5em;
    font-family: Anton;
    font-size: 35px;
    color:red !important;
    font:bold
}   

/* Kategorilerin renk ve konum ayarı */
.col a {
    text-align: center;
    text-decoration: none;
    color: red;
    font-size: 30px;
    font-family: Anton;
    
   
}

/* ürünlerin yazı ve konum ayarı */
.firindan-row, .kebap-row, .drink-row, .durum-row, .corba-row {
    margin-top: 2em;
    background-color: black;
    border: 0px;
    border-radius: 25px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    align-items: center;
    
   
}

/* ürünlerin fotoğraf ayarı */
.menu-img img {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-top: 1em;
    align-items: center;
    
}

/* ürünlerin başlık ayarı */
.menu-img h2 {
    margin-top: 10px;
    text-align: left;
    margin-left: 0.5em;
    font-family: Poppins;
}

/* ürünlerin açıklama ayarı */
.menu-img p {
    display: inline;
    margin-left: 0.8em;
    font-size: 16px;
    font-family: Poppins;
}

/* Fiyat ve açıklamanın yan yana durma ayarı */
.description-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* açıklama konum ayarı */
.desc {
    margin: 0;
}
 
/* fiyat konum ayarı */
.price {
    margin: 0;
    font-weight: bold;
}

/* Footer renk ve konum ayarı */
.footer-row {
    background-color: black;
    padding: 2em;
    margin-top: 1em;
    
}

/* Footer yazı ayarı */
.footer-row p {
    font-family: Anton;
    text-decoration: none;
    color: white;
    
}

/* İban renk ve ıcon ayarı  */
.payment,img {
    font-family: Anton;
    color: white;
    width: 40px;
}

/* İban konum ayarı */
.payment {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

/* İnstagram yazı konum ayarı */
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* İnstagram iconu boyut ayarı */
.contact img {
    width: 40px;
    margin-bottom: 5px;
}

/* Telefon yazısı konum ayarı */
.phone  {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    
}

/* Footerda ki yazıların ortalanma ayarı */
.position {
    margin: 2px;
}


